/* /* div{
    background-color: green;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;

}
a{
    margin-left: 20px;
}
footer{
    background-color:#dad6d6;
    padding-top: 25px;
    height:50px
}
button{
    margin-bottom: 20px;
}

 */

ol{
    padding-left:0px ;
    margin-left: 10px;

}
ul{
    padding-left:0px ;
    margin-left: 10px;

}
